
h1{
    color : white;
    
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.crop-box, .fertilizer-box {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
.img{
    height: 20px;
    width: 20px;
}
}
h1{
    color: white;
}
h2{
    color:#333;
}

p {
    color: #666;
    font-size: medium;
    font-weight: 500;
}
/* Navbar styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

nav ul li {
    display: inline;
    margin-right: 10px; 
}

nav ul li:last-child {
    margin-right: 0; 
}

nav ul li a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
.container{
    text-align: center;
}
.x-colophon.bottom { 
    background-color: transparent; 
}
.small-input {
    width: 550px; 
}
.small-input::placeholder {
    text-align: center;
    font-size: medium;
}
.select-center option {
    text-align: center;
}






