<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon" type="image/png" href="/static/images/logo/logo-white.png">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Harvest Nepal">
    <meta name="author" content="Bibek Rai">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Harvest Nepal | Delivering Agriculture Solutions  </title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body class="index-body">
    <nav class="navbar navbar-dark bg-primary">
        <h1>Harvest Nepal</h1>
        <ul>
            <li><a href="{{ url_for('about_us') }}">About us</a></li>
            <li><a href="{{ url_for('crop') }}">Crop</a></li>
            <li><a href="{{ url_for('fertilizer') }}">Fertilizer</a></li>

        </ul>
    </nav>
    <section class="core-value py-5">
        <div class="container py-md-4">
            <h3 class="heading mb-sm-5 mb-4 text-center"> Harvest Nepal</h3>
            <div class="row core-grids">
                <div >
                    <img src="static/images/about-us2.jpg" class="img-fluid" alt="" />   
                </div>
            </div>
            <p class="container text-primary">Harvest Nepal is a dedicated platform that aims to
            empower farmers and promote sustainable agriculture practices in Nepal.
            With a mission to enhance the agricultural sector, we provide valuable resources, information,
            and tools to support farmers in making informed decisions and maximizing their yields.</p>
            
        </div>
    </section>
    <section class="banner_w3lspvt" id="home">
        <div class="csslider infinity" id="slider1">
        
                    <div class="banner-top">
                        <div class="overlay">
                            <div class="container">
                                <div class="w3layouts-banner-info text-center">
                                    <h4 class="text-wh mx-auto my-4"><strong> What we do?</strong></h4>
                                    <p class="text-li mx-auto mt-2">
                                        <ol class="text-primary">
                                            <li> Suggest which crop to plant according to your soil chemicals.</li><br>
                                            <li> Tell what fertilizer to use for the perfect yield of crops.</li><br>
                                            <li> Predict which disease your crop may have.</li>
                                        </ol>
                                        
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </section>
    <section class="blog py-5">
        
            <h3 class="heading mb-sm-5 mb-4 text-center"> Our Services</h3>
            <div class="row blog-grids">
                <div class="col-lg-4 col-md-6 blog-left mb-lg-0 mb-sm-5 pb-lg-0 pb-5">
                    <img src="static/images/crop-2.jpeg">
                    <a href="{{ url_for('crop') }}">
                        <div class="blog-info">
    
                            <h4>Crop Recommendation System</h4>
    
                            <p> This system suggest us to grow suitable crops on basis of our soil chemicals. </p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-md-6 blog-middle mb-lg-0 mb-sm-5 pb-lg-0 pb-md-5">
                    <img src="static/images/fertilizer 3.jpg">
                    <a href="{{ url_for('fertilizer') }}">
                        <div class="blog-info">
                            <h4>Fertilizer Recommendation System</h4>
                            <p class="mt-2">This system helps us to use perfect fertilizer on basis of our soil chemicals and yield more production.</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 blog-right mt-lg-0 mt-5 pt-lg-0 pt-md-5">

                    <img src="static/images/diseases-2.jpg">
                        <div class="blog-info">
                            <h4>Crop Disease Finder</h4>
                            <p class="mt-2">This system helps us to detect the diseases on plant leaf and suggest solutions to cure it.</p>
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--
    <div class="object">
        <div class="container">
            <a href="{{ url_for('crop') }}">
            <h1 class="text-center btn-success">Crop Recommendation System</h1>
            </a>
        </div>
        <div class="container">
            <a href="{{ url_for('fertilizer') }}">
            <h1 class="text-center btn-success">Fertilizer Recommendation System</h1>
            </a>
        </div>
        -->
    <div class="container">
        <footer class="footer">       
            <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.github.com//BibekRai44" target="_bl
                ">Bibek Rai</a></p>
        </footer>
    </div> 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
